# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Input/Test Files
public/

# Build
build/

# Problem descriptions
*.pdf

# Metadata
*.json

# Algolab VS
*.algolabVS

# VS Code
.vscode

# Debug stuff
debug*